body {
    background-color: rgb(29 45 60);
}

.navbar {
    background-color:rgb(6 19 31) ;
}

.fa-brands {
    color:rgb(24 216 96) ;
}

.card {
    background-color:rgb(17 32 48) ;
}

button {
    background: none;
}